{% extends "base.html" %}
{%load static%}
{% block content %}
    <main class="main">
        <!-- HOME -->
        <section class="home" id="home">
            <div class="home__container container grid">
                <img src="{% static 'assets/img/intro.svg' %}" alt="" class="home__img">

                <div class="home__data">
                    <h1 class="home__title">
                        Empowering PoSH Compliance for a Safe Workplace
                    </h1>
                    <p class="home__description">
                        Explore the world of Prevention of Sexual Harassment (PoSH) compliance with our user-friendly platform. Join us in creating safer workplaces.
                    </p>
                    <a href="{% url 'register'%}" class="button button--flex">
                            Get started
                        <i class="ri-arrow-right-line button__icon"></i>
                    </a>
                </div>
            </div>

        </section>
        <!-- ABOUT -->
        <section class="about section container" id="about">
            <div class="about__container grid">
                <img src="{% static 'assets/img/services.svg' %}" alt="services" class="about__img">
            
                <div class="about__data">
                    <h2 class="section__title about__title">
                        Who we are &amp; <br>Why Choose Us
                    </h2>

                    <p class="about__description">
                        With over 4000+ unbiased reviews, our customers trust our PoSH compliance process and delivery of services every time.
                    </p>

                    <div class="about__details">
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Timely delivery is our commitment.
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Guides for protecting and caring for your workplace.
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                                Post-sale check-ups for your peace of mind.
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            100% money-back guarantee.
                        </p>
                    </div>

                    <a href="#" class="button--link button--flex ">
                        Learn more <i class="ri-arrow-right-line button__icon "></i>
                    </a>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section class="steps section container" id="services">
            <div class="steps__bg">
                <h2 class="section__title-center steps__title">
                    Steps to Ensure PoSH Compliance
                </h2>

                <div class="steps__container grid">
                    <div class="steps__card">
                        <div class="steps__card-number">01</div>
                        <h3 class="steps__card-title">Explore PoSH Information</h3>
                        <p class="steps__card-description">
                            Learn about PoSH compliance and its importance through FAQs, labor office locations, and our company's goals.</p>
                    </div>
                    <div class="steps__card">
                        <div class="steps__card-number">02</div>
                        <h3 class="steps__card-title">Onboard External Committee Members</h3>
                        <p class="steps__card-description">
                            Seamlessly integrate external committee members with our tools for scheduling, reminders, proposals, and certifications.
                        </p>
                    </div>
                    <div class="steps__card">
                        <div class="steps__card-number">03</div>
                        <h3 class="steps__card-title">Register Individuals & Establishments</h3>
                        <p class="steps__card-description">Simplify registration for individuals and establishments, collecting necessary details for PoSH compliance.</p>
                    </div>
                </div>
            </div>

        </section>

        <!-- FAQS -->
        <section class="questions section" id="faqs">
            <h2 class="section__title-center questions__title container">
                Frequently Asked Questions
            </h2>

            <div class="questions__container container grid">
                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q1. What is PoSH Compliance?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                PoSH compliance ensures a safe workplace by preventing sexual harassment. Learn more about its importance and regulations.
                            </p>
                        </div>
                    </div>
                    
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q2. question
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Answer for question two
                            </p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q3. question
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Answer for question three
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q4. question
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Answer for question four
                            </p>
                        </div>
                    </div>
                    
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q5. question
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Answer for question five
                            </p>
                        </div>
                    </div>
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class="ri-add-line questions__icon"></i>
                            <h3 class="questions__item-title">
                                Q4. question
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Answer for question four
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- CONTACT -->
        <section class="contact section container" id="contact">
            <div class="contact__container grid">
                <div class="contact__box">
                    <h2 class="section__title">
                        Connect with Us for PoSH Compliance Support
                    </h2>

                    <div class="contact__data">
                        <div class="contact__information">
                            <h3 class="contact__subtitle">
                                Call us for instant support
                            </h3>
                            <span class="contact_description">
                                <i class="ri-phone-line contact__icon"></i>
                                +999 876 123
                            </span>
                        </div>

                        <div class="contact__information">
                            <h3 class="contact__subtitle">
                                Write to us via email
                            </h3>
                            <span class="contact_description">
                                <i class="ri-mail-line contact__icon"></i>
                                user@email.com
                            </span>
                        </div>
                    </div>
                </div>

                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <div class="contact__content">
                            <input type="email" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Email</label>
                        </div>

                        <div class="contact__content">
                            <input type="text" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Subject</label>
                        </div>

                        <div class="contact__content">
                            <textarea name="message" rows="5" cols="3" placeholder=" " class="contact__input"></textarea>
                            <label for="" class="contact__label">Message</label>
                        </div>
                    </div>
                    <button class="button button--flex">
                        Send Message
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>

                </form>

            </div>
        </section>
        
    </main>
{% endblock %}
 