{% extends "base.html" %}
{% load static %}

{% block stylescss %}

<style>

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}

<div class="tab-pane mt-5 card" id="account-service">
    <div class="card-body pb-2">
        <div class="form-group">
            {% comment %} <div class="card mx-auto" style="width: 80%;"> {% endcomment %}
                <div class="card-body mx-auto" style="width: 80%;">
                    <h5 class="card-title mb-3" >All Applicants</h5>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Status</th>
                                <th scope="col">Profile</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for data in combined_data %}

                            <tr>
                                <td>{{ data.individual_user.name }}</td>
                                <td>{{ data.individual_user.city }}, {{ data.individual_user.state }}</td>
                                <td>{{ data.individual_user.email }}</td>
                                <td>{{ data.individual_user.phone }}</td>
                                {% if data.establishment_data.status == "Accepted" %}
                                    <td><span class="badge bg-success">{{ data.establishment_data.status }}</span></td>
                                {% elif data.establishment_data.status == "Declined" %}
                                    <td><span class="badge bg-danger">{{ data.establishment_data.status }}</span></td>
                                {% else %}
                                <td><span class="badge bg-warning">{{ data.establishment_data.status }}</span></td>
                                {% endif %}
                                <td><a href="#">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                    </table>
            </div>
        </div>
    </div>
</div>
 

{% endblock %}