@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* VARIABLE CSS */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --first-color: hsl(30, 100%, 52%);
    --first-color-alt: hsl(29, 54%, 73%);
    --first-color-light: hsl(30, 100%, 85%);
    --first-color-lighten: hsl(30, 100%, 95%);
    --title-color: hsl(30, 3%, 15%);
    --text-color: hsl(30, 4%, 25%);
    --text-color-light: hsl(30, 4%, 45%);
    --body-color: hsl(30, 0%, 100%);;
    --container-color: #FFF;
    --background-footer-color: rgb(29, 26, 26); 
    --footer-text-color: rgb(245, 244, 244);

    /* Font Size -> 1rem = 16px */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins-Bottom */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --z-tooptip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px){

    :root{
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    .align-columns-two{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

}

html{
    scroll-behavior: smooth;
}

/* THEME */
/* VARIABLES_IN_DARK_THEME */
body.dark-theme{
    --first-color-dark: hsl(152, 8%, 20%);
    --title-color: hsl(152, 4%, 95%);
    --text-color: hsl(152, 4%, 75%);
    --body-color: hsl(152, 8%, 12%);;
    --container-color: hsl(152, 8%, 16%);;;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--first-color-lighten);
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #FFF;
    box-shadow: 5px 5px 0px var(--first-color);
}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.container header::before{
    content: "";
    left: 0;
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--first-color) ;
}

.container form{
    position: relative;
    margin-top: 16px;
}


.container form .details{
    margin-top: 30px;
}

.container form .details.ID{
    margin-top: 10px;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--text-color);
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
} 

form .fields .password-input-field{
    margin: 4px 0;
    width: calc(100% / 2 - 30px);;
}

.input-field label,
.password-input-field label{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color-light);
}

.input-field input,
.password-input-field input,
select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus),
.input-field select:is(:focus),
.password-input-field input:is(:focus){
    box-shadow: 0 3px 6px var(--first-color-alt);
}


.input-field input[type="date"]{
    color: var(--text-color);
}

.input-field input[type="date"]:valid{
    color: var(--text-color);
}

.details.ID .input-field.email-field,
.details.ID .input-field.phone-field{
    width: 100%;
    display: flex;
}

.combine{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -20px;
}

.ValBtn{
    padding-left: -5px;
    padding-right: 5px;
    margin-top: -5px;
    min-width: 100px;
}

.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 100px;
    width: 100%;
    background-color: var(--first-color);
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 5px;
    margin: 25px 0;
    padding-left: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: var(--h3-font-size);

}

.backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding-right: 20px;
    outline: none;
    color: var(--text-color);
    margin: 25px 0;
    cursor: pointer;
    font-size: var(--h3-font-size);
}

.container form button,
.container form .backBtn{
    font-size: 16px;
    font-weight: 400;
}

form button:hover{
    background-color: var(--first-color-alt);
}

form button i,
form .backBtn i{
    margin: 0 6px;
}

form .buttons{
    display: flex;
    align-items: center;
    margin-left: 0;
}

form .buttons button, .backBtn{
    margin-right: 14px;
}

.align-columns-two{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;   
}

.flexble{
    display: flex;
    align-items: center;
    margin-top: var(--mb-0-5);
}

#password1,
#password{
    margin-right: 10px;
}

@media screen and (max-width: 750px){

    .container form{
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar{
        display: none;
    }

    form .fields .input-field{
        width: calc(100% / 2 - 15%);
    }    

    .align-columns-two{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 600px){

    form .fields .input-field{
        width: 100%;
    }

    .align-columns-two{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}

#icon{
    float: right;
    height: 50px;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}

#error-msg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
}

#errormsg{
    display: none;
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
}

label:has(+ input:required):after,
label:has(+ select:required):after{
    content: ' *';
    color: red;
  }

.required-field:after {
    content: ' *';
    color: red;
}

.ValBtn:disabled {
    cursor: not-allowed;
    background-color: var(--first-color-alt);
}

button.nextBtn:disabled{
    cursor: not-allowed;
    background-color: var(--first-color-alt);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
