<div class="container-certifications">
    <div class="add_certification">
        <h2>Certification Details</h2>
        <button id="add-certification-btn" data-toggle="modal" data-target="#addCertificationModal">+ Add</button>
    </div>

    <!-- Certification Section -->
    <div id="certification-section">
        <ul id="certification-list">
            <!-- Certification experiences will be dynamically added here -->
        </ul>
    </div>

    <!-- Add Certification Modal -->
    <div class="modal fade" id="addCertificationModal" tabindex="-1" role="dialog" aria-labelledby="addCertificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCertificationModalLabel">Add Certification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Certification Name -->
                    <div class="form-group">
                        <label for="certificationNameInput">Name</label>
                        <input type="text" id="certificationNameInput" class="form-control" placeholder="Enter the certification name">
                    </div>

                    <!-- Issuing Organization -->
                    <div class="form-group">
                        <label for="issuingOrganizationInput">Issuing Organization</label>
                        <input type="text" id="issuingOrganizationInput" class="form-control" placeholder="Enter the issuing organization">
                    </div>

                    <!-- Issue Date -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="issueDateMonth">Issue Date</label>
                            <input type="month" id="issueDate" class="form-control" placeholder="Enter issue month">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="expirationDateMonth">Expiration Date</label>
                            <input type="month" id="expirationDate" class="form-control" placeholder="Enter expiration month">
                        </div>
                    </div>

                    <!-- Credential ID -->
                    <div class="form-group">
                        <label for="credentialIdInput">Credential ID</label>
                        <input type="text" id="credentialIdInput" class="form-control" placeholder="Enter the credential ID">
                    </div>

                    <!-- Credential URL -->
                    <div class="form-group">
                        <label for="credentialUrlInput">Credential URL</label>
                        <input type="link" id="credentialUrlInput" class="form-control" placeholder="Enter the credential URL">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveCertificationBtn">Save Certification</button>
                </div>
            </div>
        </div>
    </div>
</div>
