<div class="container-fluid manual">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive" id="table-content">
                <table id="bootstrapdatatableEmp" class="table table-striped table-bordered text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>SR.NO</th>
                            <th>LOCATION</th>
                            <th>NATURE OF EMPLOYMENT (DIRECT / INDIRECT)</th>
                            <th>VENDOR</th>
                            <th>NAME OF EMPLOYEE</th>
                            <th>MIDDLE NAME</th>
                            <th>GENDER</th>
                            <th>DATE OF JOINING</th>
                            <th>MOBILE NUMBER</th>
                            <th>EMAIL ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <div id="hello"></div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
