{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="{% static 'assets/img/MyPosh.svg' %}" type="image/x-icon">
        <script src="{% static 'assets/js/cities.js' %}"></script>
        <!-- ICONS -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- CSS -->
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'assets/css/multistep.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <title>MYPOSH</title>
    </head>
<body>
    <!-- LOADER -->
    <div class="load" id="load">
        <img src="{% static 'assets/img/ZNeT.gif' %}" alt="loader" class="load__gif" >
    </div>
    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left-side">
                    <div class="left-heading">
                        <i class="ri-pages-line nav__logo-icon"></i>MYPOSH
                    </div>
                    <div class="steps-content">
                        <h3>Step <span class="step-number">1</span></h3>
                        <p class="step-number-content" data-step="1">Verify your establishment information to get closer to complete registration.</p>
                        <p class="step-number-content d-none" data-step="2">Get to know better by adding your establishment's location details.</p>
                        <p class="step-number-content d-none" data-step="3">Help us get to know you better by providing us with your vendor details.</p>
                        <p class="step-number-content d-none" data-step="4">Add your employee details.</p>
                    </div>
                    <ul class="progress-bar">
                        <li class="progress-item" data-step="1">Establishment Information</li>
                        <li class="progress-item" data-step="2">Location Details</li>
                        <li class="progress-item" data-step="3">Vendor Details</li>
                        <li class="progress-item" data-step="4">Employee Details</li>
                    </ul>                 
                </div>
                <div class="right-side">
                    <div class="main" data-step="1">
                        <div class="text">
                            <h2>Your Establishment Information</h2>
                            <p>Please verify the details provided to us during registration</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require id="name" value="{{ user.establishmentuser.name }}" disabled>
                                <span id='readonly-name'>Establishment Name</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require id="uid"  value="{{ uid }}" disabled>
                                <span id='readonly-span'>UID</span>
                            </div>
                            <div class="input-div"> 
                                <input type="date" required require id="setup-date" value="{{ user.establishmentuser.setdate|date:'Y-m-d' }}" disabled>
                                <span disabled id='readonly-date'>Set-up Date</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require value="{{ user.establishmentuser.email }}" disabled>
                                <span id='readonly-email'>E-mail Address</span>
                            </div>
                            <div class="input-div">
                                <input type="text" required require value="{{ user.establishmentuser.phone }}" disabled>
                                <span id='readonly-phone'>Phone number</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <select>
                                    <option value="principal" {% if user.establishmentuser.nature == "principal" %} selected {% endif %} disabled>Principal Employer</option>
                                    <option value="vendor" {% if user.establishmentuser.nature == "vendor" %} selected {% endif %} disabled>Vendor</option>
                                    <option value="both" {% if user.establishmentuser.nature == "both" %} selected {% endif %} disabled>Both</option>
                                </select>
                                <span id='readonly-nature'>Nature of Establishment</span>
                            </div>
                            <div class="input-div">
                                <select>
                                    <option value="single" {% if user.establishmentuser.structure == "single" %} selected {% endif %} disabled>Single Location</option>
                                    <option value="multi" {% if user.establishmentuser.structure == "multi" %} selected {% endif %} disabled>Multi Location</option>
                                </select>
                                <span id='readonly-structure'>Structure of Establishment</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <select name='state' onchange="print_selected_city('city', this.selectedIndex, '{{ user.establishmentuser.city }}');" id="states" class="form-control" disabled>
                                </select>
                                <span id='readonly-state'>State</span>
                            </div>
                            <div class="input-div">
                                <select name='city' id ="city" class="form-control" disabled>
                                    <option value="state" {% if user.establishmentuser.city == "{{ user.establishmentuser.city }}" %} selected {% endif %}>{{ user.establishmentuser.city }}</option>
                                </select>
                                <script language="javascript">print_selected_state("states", '{{ user.establishmentuser.state }}');</script>
                                <span id='readonly-city'>City</span>
                            </div>
                            <div class="input-div">
                                <input type="number" required require id="pincode" value="{{ user.establishmentuser.pincode }}" disabled>
                                <span id='readonly-pin'>Pincode</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="textarea" wrap="hard" required require id="address" value="{{ user.establishmentuser.address }}" disabled>
                                <span id='readonly-add'>Address</span>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="next_button">Next Step</button>
                        </div>
                    </div>

                    {% comment %} STEP-2 {% endcomment %}
                    <div class="main" data-step="2">
                        <div class="text">
                            <h2>Location Details</h2>
                            <p>Inform us about your different locations.</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="number" id='countloc' required require> 
                                <span id='readonly-loc'>Count of Locations</span>
                            </div>
                            <button id="optionBtn" class="add_button" onclick="checkInput()">Add</button>
                        </div>
                        <!-- Success Message HTML -->
                        <div id="message-success" class="success-message" hidden>
                            <strong>Success:</strong> All Location Details have been successfully saved.
                        </div>

                        <div class="buttons button_space">
                            <button class="back_button">Back</button>
                            <button class="next_button" hidden id="nextstep2">Next Step</button>
                            {% comment %} <button class="next_button" id="nextstep2">Next Step</button> {% endcomment %}
                        </div>
                    </div>

                    <!-- Completed Modal for Option -->
                    <div id="optionModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>Select an option </h2>
                            <div class="option_space">
                                <button class="opt_button" id="manualBtn">Manually</button>
                                <button class="opt_button" id='excelBtn'>Excel</button>
                            </div>
                        </div>
                    </div>

                    {% comment %} Modal for Manually {% endcomment %}
                    <div id="manualModal" class="modal">
                        <div class="modal-content"  id="manual">
                            <span class="close-loc">&times;</span>
                            <div class="location_space">
                                <h2>Location Records</h2>
                                <div class="buttons">
                                    <button class="save_button" id="manual-submission">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        
                            {% include 'manual.html' %}

                        </div>
                    </div>

                    <!-- Modal for Upload -->
                    <div id="excelModal" class="modal">
                        <div class="modal-content" id="excel">
                            <span class="close-excel">&times;</span>
                            <h2>Upload File</h2>
                            <div class="upload-area" id="uploadArea">
                                <p>Drag & Drop a file here or click to upload</p>
                                <input type="file" id="fileInput" accept=".csv, .xlsx" hidden>
                            </div>
                            <button class="download-button button-secondary">Download Sample File</button>
                            <button class="upload-button button-secondary" id="uploadButton">Save</button>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div class="preview-container" id="previewContainer">
                                <h3>Preview:</h3>
                                <input type="text" id="mytext" disabled>
                                <div class="table-wrapper"> <!-- Add this wrapper for scrolling -->
                                    <table id="filePreview"></table>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% comment %} STEP - 3 {% endcomment %}
                    <div class="main" data-step="3">
                        <div class="text">
                            <h2>Vendor Details</h2>
                            <p>Can you provide us with your vendor details?</p>
                            <div class="option_space">
                                <button class="opt_button" id="manualVendorBtn">Manually</button>
                                <button class="opt_button" id='excelVendorBtn'>Excel</button>
                            </div>
                        </div>
                        <!-- Success Message HTML -->
                        <div id="message-vendor-success" class="success-message" hidden>
                            <strong>Success:</strong> All Vendor Details have been successfully saved.
                        </div>

                        <div class="buttons button_space" style="margin-top: 20px">
                            <button class="back_button">Back</button>
                            <button class="next_button" hidden id="nextstep3">Next Step</button>
                        </div>
                    </div> 

                    <!-- Modal for Vendor Upload -->
                    <div id="excelVendorModal" class="modal">
                        <div class="modal-content" id="excelVendor">
                            <span class="close-vendor" id="close-vendore" >&times;</span>
                            <h2>Upload File</h2>
                            <div class="upload-area" id="uploadVendorArea">
                                <p>Drag & Drop a file here or click to upload</p>
                                <input type="file" id="VendorfileInput" accept=".csv, .xlsx" hidden>
                            </div>
                            <button class="download-vendor-button button-secondary">Download Vendor File</button>
                            <button class="upload-vendor-button button-secondary" id="uploadVendorButton">Save</button>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
                            <div class="preview-container" id="previewVendorContainer">
                                <h3>Preview:</h3>
                                <input type="text" id="myVendortext" disabled>
                                <div class="table-wrapper"> <!-- Add this wrapper for scrolling -->
                                    <table id="fileVendorPreview"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Modal for Manually Vendor {% endcomment %}
                    <div id="manualVendorModal" class="modal">
                        <div class="modal-content"  id="manualVendor">
                            <span class="close-vendor" id="close-vendor">&times;</span>
                            <div class="location_space">
                                <h2>Vendor Records</h2>
                                <div class="buttons">
                                    <button class="save_button" id="manual-vendor-submission">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        
                            {% include 'manualVendor.html' %}

                        </div>
                    </div>

                    {% comment %} STEP - 4 {% endcomment %}
                    <div class="main" data-step="4">
                        <div class="text">
                            <h2>Employee List</h2>
                            <p>Upload your employee details with us.</p>
                            <div class="option_space">
                                <button class="opt_button" id="manualEmployeeBtn">Manually</button>
                                <button class="opt_button" id='excelEmployeeBtn'>Excel</button>
                            </div>
                        </div>
                        <!-- Success Message HTML -->
                        <div id="message-employee-success" class="success-message" hidden>
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                               <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                           </svg>
                            <strong>Success:</strong> All Employee Details have been successfully saved.
                        </div>

                        <div class="buttons button_space" style="margin-top: 20px">
                            <button class="back_button" id="lastbackbutton">Back</button>
                        </div>
                    </div>

                    <!-- Modal for Employee Upload -->
                    <div id="excelEmployeeModal" class="modal">
                        <div id="loading-screen" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1000; text-align: center;">
                            <div style="position: relative; top: 50%; transform: translateY(-50%); font-size: 1.5em;">
                                <img src="{% static 'assets/img/ZNeT.gif' %}" alt="loader" class="load__gif" >
                            </div>
                        </div>
                        <div class="modal-content" id="excelEmployee">
                            <span class="close-employee" id="close-employeee" >&times;</span>
                            <h2>Upload File</h2>
                            <div class="upload-area" id="uploadEmployeeArea">
                                <p>Drag & Drop a file here or click to upload</p>
                                <input type="file" id="EmployeefileInput" accept=".csv, .xlsx" hidden>
                            </div>
                            <button class="download-employee-button button-secondary">Download Employee File</button>
                            <button class="upload-employee-button button-secondary" id="uploadEmployeeButton">Save</button>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
                            <div class="preview-container" id="previewEmployeeContainer">
                                <h3>Preview:</h3>
                                <input type="text" id="myEmployeetext" disabled>
                                <div class="table-wrapper"> <!-- Add this wrapper for scrolling -->
                                    <table id="fileEmployeePreview"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Modal for Manually Employee {% endcomment %}
                    <div id="manualEmployeeModal" class="modal">
                        <div id="loading-screen-manual" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1000; text-align: center;">
                            <div style="position: relative; top: 50%; transform: translateY(-50%); font-size: 1.5em;">
                                <img src="{% static 'assets/img/ZNeT.gif' %}" alt="loader" class="load__gif" >
                            </div>
                        </div>
                        <div class="modal-content"  id="manualEmployee">
                            <span class="close-employee" id="close-employee">&times;</span>
                            <div class="location_space">
                                <h2>Employee Records</h2>
                                <div class="buttons">
                                    <button class="save_button" id="manual-employee-submission">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        
                            {% include 'manualEmployee.html' %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- SCROLL REVEAL -->
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
<!-- MAIN JS -->
<script src="{% static 'assets/js/multistep.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
