{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- FAVICON -->
        <link rel="shortcut icon" href="{% static 'assets/img/MyPosh.svg' %}" type="image/x-icon">
        <script src="{% static 'assets/js/cities.js' %}"></script>
        <!-- ICONS -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- CSS -->
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'assets/css/multistep.css' %}">
        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
        <title>MYPOSH</title>
    </head>
<body>
    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left-side">
                    <div class="left-heading">
                        <i class="ri-pages-line nav__logo-icon"></i>MYPOSH
                    </div>
                    <div class="steps-content">
                        <h3>Step <span class="step-number">1</span></h3>
                        <p class="step-number-content active">Verify your establishment information to get closer to complete registration.</p>
                        <p class="step-number-content d-none">Get to know better by adding your establishment's location details.</p>
                        <p class="step-number-content d-none">Help companies get to know you better by telling then about your past experiences.</p>
                        <p class="step-number-content d-none">Add your profile piccture and let companies find youy fast.</p>
                    </div>
                    <ul class="progress-bar">
                        <li class="active">Establishment Information</li>
                        <li>Location Details</li>
                        <li>Vendor Details</li>
                        <li>Employee Details</li>
                    </ul>                
                </div>
                <div class="right-side">
                    <div class="main active">
                        <div class="text">
                            <h2>Your Establishment Information</h2>
                            <p>Please verify the details provided to us during registration</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require id="name" value="{{ user.establishmentuser.name }}">
                                <span>Establishment Name</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require id="uid"  value="{{ uid }}" disabled>
                                <span id='readonly-span'>UID</span>
                            </div>
                            <div class="input-div"> 
                                <input type="date" required require id="setup-date" value="{{ user.establishmentuser.setdate|date:'Y-m-d' }}">
                                <span disabled>Set-up Date</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require value="{{ user.establishmentuser.email }}" disabled>
                                <span id='readonly-email'>E-mail Address</span>
                            </div>
                            <div class="input-div">
                                <input type="text" required require value="{{ user.establishmentuser.phone }}" disabled>
                                <span id='readonly-phone'>Phone number</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <select>
                                    <option value="principal" {% if user.establishmentuser.nature == "principal" %} selected {% endif %}>Principal Employer</option>
                                    <option value="vendor" {% if user.establishmentuser.nature == "vendor" %} selected {% endif %}>Vendor</option>
                                    <option value="both" {% if user.establishmentuser.nature == "both" %} selected {% endif %}>Both</option>
                                </select>
                                <span id='readonly-nature'>Nature of Establishment</span>
                            </div>
                            <div class="input-div">
                                <select>
                                    <option value="single" {% if user.establishmentuser.nature == "single" %} selected {% endif %}>Single Location</option>
                                    <option value="multi" {% if user.establishmentuser.nature == "multi" %} selected {% endif %}>Multi Location</option>
                                </select>
                                <span id='readonly-structure'>Structure of Establishment</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <select name='state' onchange="print_selected_city('city', this.selectedIndex, '{{ user.establishmentuser.city }}');" id="states" class="form-control">
                                </select>
                                <span id='readonly-state'>State</span>
                            </div>
                            <div class="input-div">
                                <select name='city' id ="city" class="form-control" disabled>
                                    <option value="state" {% if user.establishmentuser.city == "{{ user.establishmentuser.city }}" %} selected {% endif %}>{{ user.establishmentuser.city }}</option>
                                </select>
                                <script language="javascript">print_selected_state("states", '{{ user.establishmentuser.state }}');</script>
                                <span id='readonly-city'>City</span>
                            </div>
                            <div class="input-div">
                                <input type="number" required require id="pincode" value="{{ user.establishmentuser.pincode }}">
                                <span>Pincode</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="textarea" wrap="hard" required require id="address" value="{{ user.establishmentuser.address }}">
                                <span>Address</span>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="next_button">Next Step</button>
                        </div>
                    </div>

                    {% comment %} STEP-2 {% endcomment %}
                    <div class="main">
                        <small><i class="fa fa-smile-o"></i></small>
                        <div class="text">
                            <h2>Location Details</h2>
                            <p>Inform us about your different locations.</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="number" required require>
                                <span>Count of Locations</span>
                            </div>
                        </div>

                        <div class="buttons button_space">
                            <button class="back_button">Back</button>
                            <button class="next_button">Next Step</button>
                        </div>
                    </div>
                    <div class="main">
                        <small><i class="fa fa-smile-o"></i></small>
                        <div class="text">
                            <h2>Work Experiences</h2>
                            <p>Can you talk about your past work experience?</p>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required require>
                                <span>Experience 1</span>
                            </div>
                            <div class="input-div"> 
                                <input type="text" required require>
                                <span>Position</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required>
                                <span>Experience 2</span>
                            </div>
                            <div class="input-div">
                                <input type="text" required>
                                <span>Position</span>
                            </div>
                        </div>
                        <div class="input-text">
                            <div class="input-div">
                                <input type="text" required>
                                <span>Experience 3</span>
                            </div>
                            <div class="input-div">
                                <input type="text" required>
                                <span>Position</span>
                            </div>
                        </div>
                        <div class="buttons button_space">
                            <button class="back_button">Back</button>
                            <button class="next_button">Next Step</button>
                        </div>
                    </div>
                    <div class="main">
                        <small><i class="fa fa-smile-o"></i></small>
                        <div class="text">
                            <h2>User Photo</h2>
                            <p>Upload your profile picture and share yourself.</p>
                        </div>
                        <div class="user_card">
                            <span></span>
                            <div class="circle">
                                <span><img src="https://i.imgur.com/hnwphgM.jpg"></span>
                                
                            </div>
                            <div class="social">
                                <span><i class="fa fa-share-alt"></i></span>
                                <span><i class="fa fa-heart"></i></span>
                                
                            </div>
                            <div class="user_name">
                                <h3>Peter Hawkins</h3>
                                <div class="detail">
                                    <p><a href="#">Izmar,Turkey</a>Hiring</p>
                                    <p>17 last day . 94Apply</p>
                                </div>
                            </div>
                        </div>
                        <div class="buttons button_space">
                            <button class="back_button">Back</button>
                            <button class="submit_button">Submit</button>
                        </div>
                    </div>
                     <div class="main">
                         <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                             <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                         
                        <div class="text congrats">
                            <h2>Congratulations!</h2>
                            <p>Thanks Mr./Mrs. <span class="shown_name"></span> your information have been submitted successfully for the future reference we will contact you soon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- SCROLL REVEAL -->
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>

<!-- MAIN JS -->
<script src="{% static 'assets/js/multistep.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>