{% extends "base.html" %}
{% load static %}

{% block stylescss %}
{{ block.super }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/list_item.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.5/build/css/intlTelInput.css">
<script src="{% static 'assets/js/cities.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/js/profile.js' %}"></script>
<script src="{% static 'assets/js/list_item.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Profile
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-education">Education</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-skill">Skills</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-certification">Certifications</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-info">Info</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-experience">Experience</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a>
                        {% comment %} <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-social-links">Social links</a> {% endcomment %}
                        {% comment %} <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">Connections</a> {% endcomment %}
                        {% comment %} <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img id="profile-image" src="{% static 'assets/img/default_profile.svg' %}" alt="profile pic"
                                    class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" id="uploadPhoto" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" id="resetPhoto" class="btn btn-default md-btn-flat">Reset</button>
                                    <div class="text-light small mt-1">Allowed JPG, GIF, or PNG. Max size of 800K</div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Prefix Column -->
                                    <div class="col-md-2 form-group">
                                        <label class="form-label">Prefix</label>
                                        <select name="prefix" class="form-control" required>
                                            <option value="Mr." {% if user.prefix == "Mr." %} selected {% endif %}>Mr.</option>
                                            <option value="Mrs." {% if user.prefix == "Mrs." %} selected {% endif %}>Mrs.</option>
                                            <option value="Miss" {% if user.prefix == "Miss" %} selected {% endif %}>Miss</option>
                                        </select>
                                    </div>
                                    

                                    <!-- First Name Column -->
                                    <div class="col-md-3 form-group">
                                        <label class="form-label">First Name</label>
                                        <input type="text" name="fname" class="form-control" value="{{ user.fname }}" required>
                                    </div>

                                    <!-- Middle Name Column -->
                                    <div class="col-md-3 form-group">
                                        <label class="form-label">Middle Name</label>
                                        <input type="text" name="mname" class="form-control" value="{{ user.mname }}" required>
                                    </div>

                                    <!-- Last Name Column -->
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" name="lname" class="form-control" value="{{ user.lname }}" required>
                                    </div>

                                </div>
                                <div class="row">
                                    <!-- Date of Birth Column -->
                                    <div class="col-md-3 form-group">
                                        <label class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control" name="dob" id="date-input" value="{{ user.dob|date:'Y-m-d' }}" required>
                                    </div>
                            
                                    <!-- Gender Column -->
                                    <div class="col-md-3 form-group">
                                        <label class="form-label">Gender</label>
                                        <select class="form-control" name='gender' required>
                                            <option value="male" {% if user.gender == "male" %} selected {% endif %}>Male</option>
                                            <option value="female" {% if user.gender == "female" %} selected {% endif %}>Female</option>
                                            <option value="other" {% if user.gender == "other" %} selected {% endif %}>Other</option>
                                        </select>
                                    </div>
                            
                                    <!-- Occupation Column -->
                                    <div class="col-md-3 form-group">
                                        <label class="form-label">Occupation</label>
                                        <input type="text" name='occupation' class="form-control" value="{{ user.occupation }}" required>
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label class="form-label">Marital Status</label>
                                        <select class="form-control" name='marital'>
                                            <option value="" disabled selected>Not selected</option>
                                            <option value="married">Married</option>
                                            <option value="unmarried">Unmarried</option>
                                            <option value="others">Others</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <!-- State Column -->
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">State</label>
                                        <select name='state' onchange="print_selected_city('city', this.selectedIndex, '{{ user.city }}');" id="states" class="form-control">
                                        </select>
                                    </div>
                                    
                                    <!-- City Column -->
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">City</label>
                                        <select name='city' id ="city" class="form-control" disabled>
                                            <option value="state" {% if user.city == "{{ user.city }}" %} selected {% endif %}>{{ user.city }}</option>
                                        </select>
                                        <script language="javascript">print_selected_state("states", '{{ user.state }}');</script>
                                    </div>
                                    
                            
                                    <!-- Pincode Column -->
                                    <div class="col-md-4 form-group">
                                        <label class="form-label">Pincode</label>
                                        <input type="number" name='pincode' class="form-control" value="{{ user.pincode }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Email Column -->
                                    <div class="col-md-6 form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" name='email' class="form-control non-editable" value="{{ user.email }}" readonly >
                                    </div>
                            
                                    <!-- Phone Column -->
                                    <div class="col-md-6 form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="tel" name='phone' class="form-control non-editable" value="{{ user.phone }}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Aadhar Card</label>
                                    <input type="number" name='aadhar' class="form-control mb-1" >
                                </div>
                                {% comment %} <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control mb-1" value="nmaxwell@mail.com">
                                    <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Company</label>
                                    <input type="text" class="form-control" value="Company Ltd.">
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-education">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    {% include "education.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-skill">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    {% include "skills.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-certification">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    {% include "certifications.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">
                                <!-- Full Description -->
                                <div class="form-group">
                                    <label for="descriptionInput">Description</label>
                                    <textarea id="descriptionInput" class="form-control" rows="5" placeholder="Describe yourself in up to 500 words"></textarea>
                                </div>

                                <!-- Short Description -->
                                <div class="form-group">
                                    <label for="shortDescriptionInput">Bio for Profile</label>
                                    <textarea id="shortDescriptionInput" class="form-control" rows="2" placeholder="Provide a brief, 100-word description"></textarea>
                                </div>
                                {% comment %} <div class="form-group">
                                    <label class="form-label">Birthday</label>
                                    <input type="text" class="form-control" value="May 3, 1995">
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select class="custom-select">
                                        <option>USA</option>
                                        <option selected>Canada</option>
                                        <option>UK</option>
                                        <option>Germany</option>
                                        <option>France</option>
                                    </select>
                                </div> {% endcomment %}
                            </div>
                            {% comment %} <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Contacts</h6> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" value="+0 (123) 456 7891">
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="form-label">Website</label>
                                    <input type="text" class="form-control" value>
                                </div> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="tab-pane fade" id="account-experience">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    {% include "experience.html" %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="account-social-links">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Twitter</label>
                                    <input type="text" class="form-control" value="https://twitter.com/user">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input type="text" class="form-control" value="https://www.facebook.com/user">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Google+</label>
                                    <input type="text" class="form-control" value>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">LinkedIn</label>
                                    <input type="text" class="form-control" value>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Instagram</label>
                                    <input type="text" class="form-control" value="https://www.instagram.com/user">
                                </div>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="tab-pane fade" id="account-connections"> {% endcomment %}
                            {% comment %} <div class="card-body">
                                <button type="button" class="btn btn-twitter">Connect to
                                    <strong>Twitter</strong></button>
                            </div>
                            <hr class="border-light m-0"> {% endcomment %}
                            {% comment %} <div class="card-body">
                                <h5 class="mb-2">
                                    <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i
                                            class="ion ion-md-close"></i> Remove</a>
                                    <i class="ion ion-logo-google text-google"></i>
                                    You are connected to Google:
                                </h5>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                            </div>
                            <hr class="border-light m-0"> {% endcomment %}
                            {% comment %} <div class="card-body">
                                <button type="button" class="btn btn-facebook">Connect to
                                    <strong>Facebook</strong></button>
                            </div>
                            <hr class="border-light m-0"> {% endcomment %}
                            {% comment %} <div class="card-body">
                                <button type="button" class="btn btn-instagram">Connect to
                                    <strong>Instagram</strong></button>
                            </div> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div class="tab-pane fade" id="account-notifications">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Activity</h6> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone comments on my article</span>
                                    </label>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone answers on my forum
                                            thread</span>
                                    </label>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone follows me</span>
                                    </label>
                                </div> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                            {% comment %} <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Application</h6> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">News and announcements</span>
                                    </label>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly product updates</span>
                                    </label>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly blog digest</span>
                                    </label>
                                </div> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>

</form>
{% endblock %}

