{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FAVICON  {% static 'assets/img/MyPosh.svg' %}--> 
        <link rel="shortcut icon" href="{% static 'assets/img/MyPosh.svg' %}" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- ICONS -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- CSS {% static 'assets/css/main.css' %}-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/otp.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.5/build/css/intlTelInput.css">
        <script src="{% static 'assets/js/cities.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
        <title>Registration Form</title>
</head>
<body>
    <div class="container">
        <div id="message-section"></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li id="error_text" {% if message.tags %} class="bg-{{ message.tags }}" {% endif %}> {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <header>
            Registration
        </header>
        {% include "otp.html" %}
        <form id='form-main'>            
            {% csrf_token %}   
            <div class="form-first">
                <div class="details personal">
                    <span class="title">
                        Individual Details
                    </span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Prefix</label>
                                <select id="prefix" name="prefix" required>
                                    <option value="mr" selected>Mr</option>
                                    <option value="mrs">Mrs</option>
                                    <option value="miss">Miss</option>
                                </select>
                            <label>First Name</label>
                            <input type="text" name="fname" id='fname' placeholder="Enter First Name" required>
                        </div>

                        <div class="input-field">
                            <label>Middle Name</label>
                            <input type="text" name="mname" id='mname' placeholder="Enter Middle Name" required>
                        </div>

                        <div class="input-field">
                            <label>Last Name</label>
                            <input type="text" name='lname' id='lname' placeholder="Enter Last Name" required>
                        </div>

                        <div class="input-field">
                            <label for="date-input">Date of Birth</label>
                            <input type="date" name='date' id="date-input" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select id="gender" name="gen" required>
                                <option value="" disabled selected>Select your gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
 
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" name="occupation" id="occupation"  placeholder="Enter your Occupation" required>
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <select name='state' onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" required></select>
                        </div>

                        <div class="input-field">
                            <label>City</label>
                            <select name='city' id ="state" required ></select>
                            <script language="javascript">print_state("sts");</script>
                        </div>

                        <div class="input-field">
                            <label>Pincode</label>
                            <input type="number" name='pincode' id='pincode'  placeholder="Enter Pincode" required>
                        </div>

                        <div class="align-columns-two">
                            <div class="input-field phone-field">
                                <label class="required-field">Mobile Number</label>
                                <p id="errormsg">Please Enter A Valid Phone Number</p>
                                <div class="inp combine">
                                    <input type="tel" name='phone' id="phone" placeholder="Enter mobile number" minlength="10" maxlength="10" oninput="checkerphone()" required>
                                    <button class="ValBtn two" disabled>Get OTP</button>
                                </div>
                            </div>

 
                            <div class="input-field email-field">
                                <label class="required-field">Email</label>
                                <p id="error-msg">Please Enter A Valid Email Id</p>
                                <div class="combine" id='combine-email'>
                                    <input type="email" name='email' id="email-id" placeholder="Enter your email" oninput="checker()" required>
                                    <button type="button" name='verifotp' class="ValBtn one" id="sendOTP" onclick="openPopup()" disabled>Get OTP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="buttons">
                        <div class="backBtn">
                            <i class="ri-arrow-left-s-line"></i>
                            <span class="btnText">
                                <a href="{% url 'home' %}">
                                    Back
                                </a>
                            </span>
                        </div>

                        <button type="submit" class="nextBtn" id="submitButton" name='form-submit'>
                            <span class="btnText">Submit</span>
                            <i class="ri-skip-right-fill"></i>
                        </button>
                    </div>
            </div>
        
        </form>
    </div>
<div class="overlay" id="overlay"></div>
<script>
$(document).on('click', "#sendOTP", function(e){
    e.preventDefault();

    // Disable the button to prevent multiple clicks
    $(this).prop('disabled', true);

    // Make the AJAX call
    $.ajax({
        type: 'POST',
        url: '',
        data: {
            email: $('#email-id').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            // Handle success response here
            // For example, you can show a message to the user or perform further actions
            console.log('AJAX request succeeded');
            openPopup(); // Call the function to open the popup
        },
        error: function(xhr, status, error) {
            // Handle error response here
            // For example, you can show an error message to the user
            console.error('AJAX request failed:', status, error);
        },
        complete: function() {
            // Re-enable the button after the AJAX request is complete
            $("#sendOTP").prop('disabled', false);
        }
    });
});



$(document).on('click', "#verify-otp", function(e){
    e.preventDefault();

    // Disable the button to prevent multiple clicks
    $(this).prop('disabled', true);

    // Make the AJAX call
    $.ajax({
        type: 'POST',
        url: '',
        data: {
            otp1: $('#otp1').val(),
            otp2: $('#otp2').val(),
            otp3: $('#otp3').val(),
            otp4: $('#otp4').val(),
            otp5: $('#otp5').val(),
            otp6: $('#otp6').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            console.log(response.status)
        if (response.status === 'success') {
            // OTP verified successfully
            console.log('OTP verified successfully');
            $('#sendOTP').replaceWith('<i class="ri-check-fill" style="color:green;"></i>');
            $('#email-id').prop('readonly', true); 
            $('#combine-email').css('margin-top', '0px');
            $('#message-section').html(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    OTP Verified!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            `)
        } else if (response.status === 'error') {
            // OTP mismatch
            console.log('OTP mismatch');
            $('#message-section').html(`
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    OTP Mismatch!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            `);
        } else {
            // Handle other possible response statuses
            console.log('Unexpected response status:', response.status);

            // closePopup(); // Call the function to open the popup
        }
        },
        error: function(xhr, status, error) {
            // Handle error response here
            // For example, you can show an error message to the user
            console.error('AJAX request failed:', status, error);
            // closePopup()
        },
        complete: function() {
            // Re-enable the button after the AJAX request is complete
            $("#verify-otp").prop('disabled', false);
        }
    });
});

$(document).ready(function() {
    $('#submitButton').click(function(e) {
        e.preventDefault();
        
        // Serialize form data
        var formData = $('#form-main').serialize();

        // Make AJAX request
        $.ajax({
            type: 'POST',
            url: '',
            data: formData,  // Send serialized form data
            success: function(response) {
                if (response.status === 'success') {
                    console.log('User created successfully');
                    window.location = response.redirect_url;
                } else {
                    // Handle other response statuses or errors
                }
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
            }
        });
    });
});

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/register.js' %}"></script>
<script src="{% static 'assets/js/otp.js' %}"></script>
</body>
</html>